body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

/* ---- NAV ----  */

/* Header */
.header-box {
    background-image: url(img/headerfoto.png);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: solid yellow 0px;
}

.nav {
    border: solid blue 0px;
    margin: 0 auto;

}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

li {
    display: inline;
}

.logo {
    border: solid yellow 0px;
    position: absolute;
    top: 0%;
    left: 0%
}

.logo a {
    border: solid green 0px;
    font-family: 'NewsGoth BT', sans-serif;
    font-size: 20px;
    color: #f8f8f8;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    margin: 6px;
    padding: 0;
}

.navlinks {
    border: solid yellow 0px;
    position: absolute;
    top: 0%;
    right: 0%
}

.navlinks a {
    float: right;
    border: solid red 0px;
    font-family: 'NewsGoth BT', sans-serif;
    font-size: 20px;
    color: #f8f8f8;
    text-transform: uppercase;
    text-decoration: none;
    margin: 6px;

}

.header-text {
    position: absolute;
    text-align: center;
    color: #f8f8f8;
    top: 50%;
    width: 100%;
    border: solid green 0px;
}

.header-text h1 {
    font-family: 'NewsGoth BT', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 26px;
}

.header-text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* ---- HOMEPAGE ---- */

.content {
    margin: 0px 50px;
    border: solid blue 0px;

}

.section-container {
    border: solid green 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px;
}

.section-text {
    padding: 5px;
    margin: 0px;
    width: 650px;  
    border: solid violet 0px;
}

.section-text h3 {
    font-family: 'NewsGoth BT', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px; 
}

.section-link {
    text-decoration: none;
    color: #2f1f5d;
    font-style: italic;
    font-size: 12px;
    margin: 20px;
    border: solid green 0px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid red 0px;

}

.card {
    background-color: #c8c7ff;
    padding: 5px;
    margin: 10px;
    width: 200px;  
    border: solid violet 0px;
}

.card h3 {
    font-family: 'NewsGoth BT', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px; 
    text-align: center;
}

.ill-container {
    margin: 50px 0px;
    text-align: center;
    display: block;
}

.ill-container a {
    text-decoration: none;
    color: #c8c7ff;
    font-style: italic;
    font-size: 8px;
}

/* Testemonials */
.testemonials-container {
    margin: 100px 0px;

}

.testemonials {
    position: relative;
    background: #c8c7ff;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.slides-container {
    background: #c8c7ff;
    margin-left: auto;
    margin-right: auto;
}

.slide {
    display: none;
    padding: 40px;
    text-align: center;
}

.slide q {
    font-style: italic;
}

.author {
    color: #2f1f5d;
    font-family: 'NewsGoth BT', sans-serif;
    font-size: 12px;
}

  
  /* Buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #2f1f5d;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: background-color 0.6s ease;
}
  
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: #887ee387;
    color: #c8c7ff;
}
  
  /* Dots */
.dot-container {
    text-align: center;
    padding-top: -15px;
    background: transparent;
}
  
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 5px;
    background-color: #887ee3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #2f1f5d;
}
  



/* ---- COACHING ---- */



/* ---- ABOUT ---- */



/* ---- CONTACT ---- */



/* ---- FOOTER ---- */





/* ---- MEDIA QUERIES ---- */

/* PHONE */
@media screen and (max-width:767px) {
    /* Homepage*/

      /* Nav */
        .navlinks {
         display: none;
        }

      /* Mobile menu */
       .dropbtn {
         color: #f8f8f8;
         padding: 16px;
         font-size: 16px;
         border: none;
         cursor: pointer;
       }
      
      .dropbtn:hover, .dropbtn:focus {
          background-color: transparent;
       }
      
      .dropdown {
         float: right;
         position: relative;
       }
      
      .dropdown-content {
         display: none;
         position: absolute;
         background-color: #f8f8f8;
         min-width: 160px;
         overflow: auto;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         z-index: 1;
       }
      
    
      .dropdown-content a {
         color: #323232;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
       }
      
      .show {
         display: block;
       }

       .ill-container img {
        max-width: 100%;
        height: auto;
    }




    /* Coaching */


    /* About */


    /* Contact */


}


/* TABLET*/
@media screen and (min-width:768px) and (max-width:1023px) {
    /* Homepage*/
        /* Nav */
        .navlinks {
            display: none;
        }
        /* Mobile menu */
       .dropbtn {
        color: #f8f8f8;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropbtn:hover, .dropbtn:focus {
          background-color: transparent;
      }
      
      .dropdown {
        float: right;
        position: relative;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f8f8f8;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
       .dropdown-content a {
           color: #323232;
           padding: 12px 16px;
           text-decoration: none;
           display: block;
        }
      
        .show {
          display: block;
        }

        .ill-container img {
            max-width: 100%;
            height: auto;
        }
        

    /* Coaching */

    
    /* About */


    /* Contact */
}


/* COMPUTER */
@media screen and (min-width:1024px) {
    /* Homepage*/
        /* Nav */
        .dropdown {
            display: none;
        }

        /* Content */

        .ill-container img {
            display: block;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }


    /* Coaching */

    
    /* About */


    /* Contact */
}
