
body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

/* ---- NAV ----  */

/* Header */
.header-box {
    background-image: url(img/headerfoto.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: solid yellow 0px;
}

.nav {
    border: solid blue 0px;
    margin: 0 auto;
    max-width: 900px;
    position: relative;
    height: 60px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.nav li {
    display: inline;
}

.logo {
    border: solid yellow 0px;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 20px 0px;
}

.logo a {
    border: solid green 0px;
    font-family: 'NewsGoth BT', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #f8f8f8;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    margin-right: 0px;
    transition: 0.5s ease-in-out;
}

.logo a:hover {
    color: #c8c7ff;
}

.nav-links {
    border: solid yellow 0px;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 20px 0px;    
}

.nav-links a {
    float: inline-end;
    border: solid red 0px;
    font-family: 'NewsGoth BT', sans-serif;
    font-size: 20px;
    color: #f8f8f8;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
    padding: 0px;
    transition: 0.5s ease-in-out;
}

.nav-links a:hover {
    color: #c8c7ff;
}

.header-text h1 {
    font-family: 'NewsGoth BT', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 26px;
}

/* ---- HOMEPAGE ---- */

.content {
    margin: 0px 50px;
    border: solid blue 0px;
}

.section-container {
    border: solid green 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0px;
}

.section-text {
    padding: 10px 0px;
    margin: 0px;
    border: solid violet 0px;
}

.section-text h3 {
    font-family: 'NewsGoth BT', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px; 
}

.section-text a {
    text-decoration: none;
    color: #2f1f5d;
    font-style: italic;
    font-size: 12px;
    margin: 20px;
    border: solid green 0px;
}

.billed-container {
    margin: 50px 0px;
    text-align: center;
    display: block;
}

.billed-container a {
    text-decoration: none;
    color: #c8c7ff;
    font-style: italic;
    font-size: 8px;
}

/*----Timeline----*/
.some-container1 {
    margin: 40px 40px;
}
.some-container1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.some-container1 ul:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    border: 1px solid #777;
}

.some-container1 ul li {
    margin: 30px 60px;
    position: relative;
}

.some-container1 ul li span {
    content: '';
    position: relative;
    top: 0;
    left: -60px;
    width: 0px;
    height: 100%;
    border: 1px solid #000;
}

.some-container1 ul li span:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    position: absolute;
    border-radius: 50%;
    left: -7px;
    background: #000;
}

.some-container1 ul li span:before {
    top: -10px;

}

.some-container1 ul li span:after {
    top: 100%;
}



.some-container1 ul{
    background-color: #887ee3;
 }










/* ------ */
.timeline {
    position: center;
    background: #c8c7ff;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
    margin-bottom: 100px; 
}

.timeline li {
    font-size: 50px;    
}

.wrapper { 
    margin: 90px;
    background-color: #c8c7ff;   
}

.box {
    background-color: #c8c7ff;
    padding: 10px 25px;
    font-size: 18px;
    border: 1px solid #c8c7ff;
    position: relative;
    height: 150px;
    margin-bottom: 20px;
    color: #000;
    border-radius: 0 50px 0 50px;
    }

/* .box::before { 
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #c8c7ff;
    position: absolute;
    top: 10px;
    left: -40px;
 } */

.box::after {
    content: '';
    width: 0;
    border: 0;
    border-style: solid;
    border-color: transparent #c8c7ff transparent transparent;
    border-width:  8px;
    position: absolute;
    left: -17px;
    top: 10px;
}

.box h2 {
    margin: 0;
    font-family: "newsGoth BT", sans serif;
    font-size: 18px;
    letter-spacing: 3px;
}

.box p {
    margin: 0;
    line-height: 1.8;
}

/* ---- COACHING ---- */

/* ---- ABOUT ---- */
.lillabox{
    position: relative;
    background: #c8c7ff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 5px;
    margin-bottom: 100px;
    display: flex;
    justify-content: left;
}

/* ---- CONTACT ---- */
.contact {
    margin: 0px 50px;
    border: solid blue 0px;
}

.form-container {
    background-color: #f8f8f8;
    padding: 0px;
}

.label {
    width: 100%;
    border: solid red 0px;
    display: block;
    text-transform: uppercase;
    font-family: 'NewsGoth BT', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.form-input {
    border: solid blueviolet 0px;
}

.input-sec {
    display: flex;
    justify-content: space-between;
}

.form-email {
    width: 60%;
    border: solid blue 0px;
}

.form-tel {
    width: 35%;
    border: solid blue 0px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #887ee3;
    background-color: #c8c7ff;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 20px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #887ee3;
    background-color: #c8c7ff;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 20px;
    resize: vertical;
}

input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #887ee3;
    background-color: #c8c7ff;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 20px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #2f1f5d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #c8c7ff;
    color: #2f1f5d;
    text-transform: uppercase;
}

/* ---- FOOTER ---- */

.footer-container {
    width: 100%;
    border: solid red 0px;
    background-color: #2f1f5d;
    padding-top: 50px;

}

.footer-content {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    border: solid red 0x;
    padding: 50px 0px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo {
    font-family: 'NewsGoth BT', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px; 
    border: solid blue 0px;
    display: block;
    width: 100%;
    margin: 0px 0px;
}

.footer-logo a {
    color: #f8f8f8;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.footer-logo a:hover {
    color: #c8c7ff;
}

.footer-links {
    width: 200px;  
    border: solid violet 0px;
    color: #f8f8f8;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;
    margin: 20px 0px;
}

.footer-links ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
}

.footer-links li {
    margin: 14px 0px;
    text-align: left;
    text-transform: uppercase;
}

.footer-links a {
    color: #f8f8f8;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.footer-links a:hover {
    color: #c8c7ff;
}

.some-container {
    padding-left: 50%;
    padding-top: 15%;
}

.some-shape {
    border: solid yellow 0px;
    width: 100px;
    position: relative;
    bottom: 0px;
    right: 0px;
}

.shape {
    width: 100px;
    height: auto;
    position: relative;
    bottom: 0px;
    right: 0px;
    display: block;
}

.some-icon {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 30px;
    left: 5px;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(62%) hue-rotate(144deg) brightness(111%) contrast(95%);
    transition: 0.3s ease-in-out;
}

.some-icon:hover {
    filter: invert(76%) sepia(8%) saturate(1549%) hue-rotate(202deg) brightness(102%) contrast(103%);
}

/* ---- MEDIA QUERIES ---- */

/* -- PHONE -- */
@media screen and (max-width:767px) {
    
    /* Nav */
        .nav-links {
            display: none;
        }
 
    /* Mobile menu */
        .dropbtn {
            color: #f8f8f8;
            margin: 0px;
            padding: 5px;
            font-size: 20px;
            border: solid blue 0px;
            cursor: pointer;
            background-color: transparent;
        }
      
        .dropbtn:hover, .dropbtn:focus {
            background-color: transparent;
            }
      
        .dropdown {
            border: solid red 0px;
            padding: 15px;
            display: inline-block;
            position: relative;
            float: right;
        }
      
        .dropdown-content {
            display: none;
            background-color: #c8c7ff40;
            position: absolute;
            min-width: 120px;
            padding: 10px 0px;
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
            z-index: 1;
            right: 0;
        }
    
        .dropdown-content a {
            color: #f8f8f8;
            padding: 10px 15px;
            text-decoration: none;
            display: block;
            text-transform: uppercase;
        }
      
        .show {
            display: block;
        }

    /* Homepage*/

    /* Coaching */

    /* About */
    
  .billed-container img {
            max-width: 100%;
            height: auto;
        }
        .header-box {
            height: 100px;
            background-size: cover;
            margin-bottom: 0px;
            top: 0%;
            width: 200%;
        }
        .flexbox {
            position: relative;
            background: #c8c7ff;
            max-width: 100px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
            display: flex;
            justify-content: left;
        } 

.flexbox img {
    max-width: 100px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    position: center;

}              
.about-tekst {
    padding: 10px ;
}

.billed-container {
    max-width: 100%;
    
}

.billed-container a {
    text-decoration: none;
    color: #c8c7ff;
    font-style: italic;
    font-size: 8px;
}

    /* Contact */

    /* Footer */
    
        .footer-container {
            width: 200%;
            background-color: #2f1f5d;
            padding: 50px 0px;
        }

    .footer-logo {
        text-align: center;
    }

    .footer-links {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

.footer-links li {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.some-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 50%;
}
}

/* -- TABLET -- */
@media screen and (min-width:768px) and (max-width:1023px) {
    
    /* Nav */
        .nav-links {
            display: none;
        }

    /* Mobile menu */
        .dropbtn {
            color: #f8f8f8;
            margin: 0px;
            padding: 5px;
            font-size: 20px;
            border: none;
            cursor: pointer;
            background-color: transparent;
        }
      
        .dropbtn:hover, .dropbtn:focus {
            background-color: transparent;
        }
      
        .dropdown {
            border: solid red 0px;
            padding: 15px;
            display: inline-block;
            position: relative;
            float: right;
        }
      
        .dropdown-content {
            display: none;
            background-color: #c8c7ff40;
            position: absolute;
            min-width: 120px;
            padding: 10px 0px;
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
            z-index: 1;
            right: 0;
        }
      
        .dropdown-content a {
           color: #f8f8f8;
           padding: 10px 15px;
           text-decoration: none;
           display: block;
           text-transform: uppercase;
        }

        .show {
            display: block;
          }
      
    /* Homepage*/
        .billed-container img {
            max-width: 100%;
            height: auto;
        }
        
    /* Coaching */
    
    /* About */
    .footer-container {
        right: 0;
        left: 0;
        height: 30%;
        bottom: 0;
    }
    .flexbox {
        max-width: 100%;
        padding: 10px 10px;
        display: flex;           
    }

    .flexbox img {
        max-width: 50%;
        padding: 10px 10px;
        display: flex;            
}
    
    /* Contact */
}

/* -- COMPUTER -- */
@media screen and (min-width:1024px) {
    
    /* Nav */
        .dropdown {
            display: none;
        }

    /* Homepage*/

    /* Coaching */

    /* About */
    .billed-container img {
            display: block;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .footer-container {
            right: 0;
            left: 0;
            height: 30%;
            bottom: 0;
        }
    .flexbox {
            max-width: 100%;
            padding: 10px 10px;
            display: flex;            
        }
        .flexbox img {
                max-width: 50%;
                padding: 10px 10px;
                display: flex;            
        }
    }

    /* Contact */